{% extends "base.html" %}
{% load static %}

{% block style %}
<link rel="stylesheet" href="{% static "exercises/css/jora/exe.css" %}">
<link rel="stylesheet" href="{% static "css/system-styles/icons.css" %}">
<link href='https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css' rel='stylesheet'>
{% comment %} <link rel="stylesheet" href="{% static "css/system-styles/icons1.css" %}"> {% endcomment %}
{% endblock style %}

{% block content %}
<input type="hidden" id="data-jora" data-jora="{% static "exercises/exercises-img/jora-img.png" %}">
<input type="hidden" id="data-size" data-size="{{ data.size }}">
<input type="hidden" id="data-time" data-time="{{ data.time }}">
<input type="hidden" id="data-steps" data-steps="{{ data.steps }}">



<div class="upper-container">
    <div class="end-but-container upper-el">
        <a class="end-button" href="{% url "exercises:exercise-page" "drakosha-zhora" %}">Завершить</a>
    </div>

    <div class="label-border upper-el">
        <p class="info-label" id="info-label">Готовы?</p>
    
        <div id="icon-arrow">
            <i class='bx bxs-cat' style='color:#ffffff; font-size: 56px;'></i>
        </div>
    </div>

    <div class="end-but-container upper-el">
        <a id="start-jora" class="end-button" onclick="startJora()">Начать</a>
    </div>
</div>

<div class="table-wrapper">
    <div class="cord-alpha-container" id="cord-alpha-container">
        {% for item in data.alphaCords %}
            <div class="cell-cord cord-alpha">
                {{ item.content | safe }}
            </div>
        {% endfor %}
    </div>
    <div class="table-container">
        <div class="cord-num-container">
            {% for item in data.numCords %}
                <div class="cell-cord cord-num">
                    {{ item | safe }}
                </div>
            {% endfor %}
        </div>
        <div class="table" id="table">
            {% for item in data.items %}
                {% if item.type == 'cell' %}
                    <div id="{{ item.pos }}" class="cell cell-closed" onclick="isThere(event)">
                    </div>
                {% endif %}
            {% endfor %}
        </div>
        
    </div>
</div>

<div class="bottom-container">
    <div class="label-border bottom-el">
        <p class="info-label" id="info-label">Готовы?</p>
    
        <div id="icon-arrow">
            <i class='bx bxs-cat' style='color:#ffffff; font-size: 42px;'></i>
        </div>
    </div>

    <div class="end-but-container bottom-el">
        <a class="end-button" href="{% url "exercises:exercise-page" "drakosha-zhora" %}">Завершить</a>
    </div>

    <div class="end-but-container bottom-el">
        <a id="start-jora" class="end-button" onclick="startJora()">Начать</a>
    </div>
</div>



<script src="{% static "exercises/js/jora/exe.js" %}"></script>

{% endblock content %}
