/* .exercise-container {
    width: 100%;
    height: 100%;
    margin: 0 0;
    padding: 20px;
} */

.exercises-grid {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    width: auto;
}

@media(max-width: 800px) {
    .exercises-grid {
        grid-template-columns: 1fr 1fr;
    }
    .exercise-label {
        font-size: 3vw;
    }
}

@media(max-width: 550px) {
    .exercises-grid {
        grid-template-columns: 1fr;
    }
    .exercise-label {
        font-size: 20px;
    }
}

.exercise {
    background-color: white;
    border: none;
    border-radius: 16px;
    margin: 20px;

    transition: background-color 0.3s;
}

.exercise:hover {
    background-color: rgb(225, 225, 225);
}

.exercise:active {
    background-color: rgb(171, 171, 171);
}

.exercise-link {
    display: grid;
    grid-template-columns: 1fr 2fr;
    column-gap: 1vw;
    align-items: center;

    text-decoration: none;
    color: black;

    min-height: 100%;
    padding-right: 5px;
}

.exercise-img {
    max-width: 80%;
    margin: 10px;
}

.exercise-label {
    font-size: 2vw;
}